@import '../../global.scss';

.article-component {
  .normal {
    margin-top: 30px;
    display: flex;
    align-items: stretch;
    flex-direction: row;

    & > .period {
      width: min(20%, 150px);
      font-size: 18px;
    }

    .period {
      font-weight: $font_weight_300;
      padding-top: 7px;

      .period-start::after {
        content: '-';
        margin-left: 5px;
      }
      .period-string {
        font-weight: $font_weight_600;
        color: $base_color_gray;
      }
    }

    .content {
      width: 80%;

      & > .name {
        margin-bottom: 5px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .article-component {
    .normal {
      margin-top: 10px;
      flex-direction: column;
      & > .period {
        width: 100%;

        div {
          font-size: 0.75em;
          display: inline-block;
        }

        .period-string {
          &::before {
            content: '(';
          }
          &::after {
            content: ')';
          }
        }
      }

      & > .content {
        width: 100%;
        & * {
          font-size: $mobile_font_size3 !important;
        }

        & > .name {
          font-size: $mobile_font_size2 !important;
        }
      }
    }
  }
}
