@import '../../global.scss';

.footer-component {
  height: 200px;
  flex-shrink: 0;
  display: flex;
  align-items: center;

  span {
    margin: 0 10%;
    color: rgba($base_color_navy, 0.5);
  }
}
