@import '../../global.scss';

.project-component {
  margin-top: 15px;
  display: block;

  .period {
    font-weight: $font_weight_300;
    padding-top: 7px;

    .period-start::after {
      content: '-';
      margin-left: 5px;
    }
    .period-string {
      font-weight: $font_weight_600;
      color: $base_color_navy;
    }
  }

  & > .period {
    font-size: 18px;
    & > * {
      display: inline-block;
    }
  }

  .content {
    & > .name {
      margin-bottom: 5px;
    }

    .project {
      margin-top: 20px;
      border-collapse: collapse;

      tr {
        td:nth-child(1) {
          width: 80px;
          position: relative;

          $point_size: 5px;
          $line_width: 1px;

          @mixin line_before($top) {
            content: '';
            background-color: $base_color_navy;
            width: $line_width;
            height: calc(100% + 2px);
            position: absolute;
            right: calc($line_width / 2);
            top: $top;
          }

          &.period-start {
            &::after {
              content: '';
              width: $point_size;
              height: $point_size;
              position: absolute;
              right: calc($point_size / 2 * (-1));
              top: calc(50% - $point_size);
              border-radius: 50%;
              background-color: $base_color_navy;
              border: solid $line_width $base_color_navy;
            }
          }

          &:is(tr:first-child td)::before {
            @include line_before(50%);
          }
          &:not(tr:first-child td)::before {
            @include line_before(0);
          }
        }

        .title {
          * {
            display: inline-block;
          }

          .topic {
            padding: 2px;
            margin-right: 2px;
            margin-bottom: 2px;
            background-color: $base_color_navy;
            font-weight: $font_weight_800;
            color: white;
          }

          .name {
            font-size: 25px;
            font-weight: $font_weight_600;
            display: inline-block;
          }
        }

        td:nth-child(2) {
          padding-left: 30px;

          &:not(.title) {
            padding-bottom: 30px;
            font-size: 18px;

            .period {
              font-size: 16px;
              color: $base_color_gray;

              .period-start,
              .period-end {
                display: inline-block;
              }
            }

            .position,
            .techStack > div {
              font-weight: $font_weight_600;
              margin-top: 15px;
              margin-bottom: 7px;
            }

            .position > p {
              display: inline;
              margin-right: 5px;
              font-weight: $font_weight_300;
            }

            .description {
              margin: 5px 0;
            }

            .detail,
            .techStack ul {
              font-size: 18px;
              padding-left: 25px;

              b {
                @include highlight_text_box_navy;
                padding: 2px 0;
              }
            }

            .techStack ul li {
              .name::after {
                content: ':';
                margin-right: 5px;
              }
              .item:not(:last-of-type)::after {
                content: ',';
                margin-right: 5px;
              }
            }
          }
        }
      }

      tr:last-of-type td:last-of-type {
        padding-bottom: unset;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .project-component {
    margin: 0;
    margin-top: 10px;
    flex-direction: column;

    & > .period {
      width: 100%;

      div {
        font-size: 0.75em;
        display: inline-block;
      }

      .period-string {
        &::before {
          content: '(';
        }
        &::after {
          content: ')';
        }
      }
    }

    & > .content {
      width: 100%;
      & * {
        font-size: $mobile_font_size3 !important;
      }

      & > .name {
        font-size: $mobile_font_size2 !important;
      }
      .project {
        .title {
          .name {
            font-size: $mobile_font_size3 !important;
          }
        }

        tr {
          td:nth-child(2) {
            padding-left: 10px;

            &:not(.title) {
              padding-left: 10px;
            }
          }
        }
      }
    }
  }
}
