@import '../../global.scss';

.header-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 250px;
  flex-shrink: 0;

  .information {
    width: 50%;
    padding: 10px 0;
    margin: auto;
    background-color: $base_color_navy;
    display: flex;
    justify-content: flex-end;

    .github {
      width: 40px;
      height: 40px;
      margin: 0 20px;
      display: inline-block;
      background-image: url('../../assets/github.png');
      background-size: cover;
    }
  }

  .mainTitle {
    margin: 70px auto;
    width: 50%;
  }

  .title {
    font-weight: $font_weight_100;
    font-size: 60px;

    b {
      font-weight: $font_weight_900;
      @include highlight_text_box_navy;
    }
  }

  .subscription {
    font-weight: $font_weight_100;
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;

    b {
      font-weight: $font_weight_900;
      color: $base_color_navy;
    }
  }
}

@media screen and (max-width: 1440px) {
  .header-component {
    .information {
      width: 100%;

      .github {
        width: 30px;
        height: 30px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header-component {
    .information {
      .github {
        width: 20px;
        height: 20px;
      }
    }
    .mainTitle {
      width: 80%;
    }
    .title {
      font-size: $mobile_title_font_size1;
    }
    .subscription {
      font-size: $mobile_title_font_size2;
    }
  }
}
