@import '../../global.scss';

.header-component {
  display: table;
  width: 100%;
  height: 100px;
  flex-shrink: 0;

  * {
    text-align: center;
  }
  & > div {
    display: table-cell;
    vertical-align: middle;
  }

  .title {
    font-weight: $font_weight_100;
    font-size: 32px;

    b {
      font-weight: $font_weight_900;
      @include highlight_text_box;
    }
  }

  .subscription {
    font-weight: $font_weight_900;
    font-size: 25px;
    @include highlight_text;
  }
}
