@import '../../global.scss';

.header-component {
  display: table;
  width: 100%;
  height: 100px;
  flex-shrink: 0;
  padding: 20px 0;
  border-bottom: solid 1px $base_color_gray;

  * {
    text-align: center;
  }
  & > div {
    display: table-cell;
    vertical-align: middle;
  }

  .title {
    font-weight: $font_weight_100;
    font-size: 30px;

    b {
      font-weight: $font_weight_900;
      @include highlight_text_box_red;
    }
  }

  .subscription {
    font-size: 25px;
    b {
      font-weight: $font_weight_900;
      @include highlight_text_red;
    }
  }
}

@media screen and (max-width: 768px) {
  .header-component {
    .title {
      font-size: 20px;
    }
    .subscription {
      font-size: 16px;
    }
  }
}
