@import '../../global.scss';

.body-component {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  padding: 50px 0;

  .navigation {
    width: 30%;

    ul {
      position: sticky;
      top: 50%;
      left: min(5%, 100px);
      width: min(50%, 500px);
      margin: 10px;
      transform: translateY(-50%);
      list-style-type: none;
      line-height: 1.5em;
      font-size: 20px;

      a {
        color: black;
        text-decoration: none;
        &:hover
        // ,
        // &.selected:nth-child(1)
        {
          @include highlight_text_navy;
          // add .selected status
        }
        // &:active {
        //   background-color: yellow;
        // }
      }

      a.selected:first-of-type {
        @include highlight_text_navy;
      }
    }
  }

  .content {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .body-component li {
    font-size: 20px;
  }
}

@media screen and (max-height: 450px) {
  .body-component .navigation ul {
    top: 50px;
    transform: unset;
  }
}
