@import '../../global.scss';

.body-component {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px 0;

  .navigation {
    width: 30%;

    ul {
      position: sticky;
      top: 50%;
      left: min(5%, 100px);
      width: min(50%, 500px);
      margin: 10px;
      transform: translateY(-50%);
      list-style-type: none;
      line-height: 1.5em;
      font-size: 20px;

      a {
        color: black;
        text-decoration: none;
      }
    }
  }

  .content {
    width: 40%;
  }
}

@media screen and (min-width: 769px) {
  .body-component .navigation ul a {
    &:hover,
    &.selected {
      @include highlight_text_navy;
    }
  }
}

@media screen and (max-width: 768px) {
  .body-component {
    padding: 20px 0;
    .navigation {
      width: 100%;

      ul {
        position: relative;
        top: unset;
        transform: none;
        font-size: 14px;
        line-height: 1.7em;

        a {
          &:active {
            @include highlight_text_navy;
          }
        }
      }
    }

    .content {
      width: 70%;
    }
  }
}

@media screen and (max-height: 450px) {
  .body-component .navigation ul {
    top: 50px;
    transform: unset;
  }
}
