@import '../../global.scss';

.body-component {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  border: $border_solid_navy;
  border-width: 1px 0;

  .navigation {
    width: 25%;
    position: relative;

    ul {
      position: sticky;
      top: 20px;
      right: 0;
      float: right;
      list-style-type: none;
      line-height: 1.5em;
      font-size: 20px;
      display: inline-flex;
      flex-direction: column;
      margin: 25px;

      a {
        color: black;
        text-decoration: none;
      }
    }
  }

  & > .content {
    width: 50%;

    & > div {
      border: $border_solid_navy;
      border-bottom: none;

      &:first-child {
        border-top: none;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .body-component .navigation ul a {
    &:hover,
    &.selected {
      font-weight: bolder;
    }
  }
}

@media screen and (max-width: 1440px) {
  .body-component .content {
    width: 75%;

    & > div {
      border-right: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .body-component {
    .navigation {
      position: sticky;
      top: 0;
      width: 100%;
      padding: 10px 0;
      border-bottom: $border_solid_navy;
      background-color: rgba($color: white, $alpha: 0.9);
      z-index: 9999;

      ul {
        position: relative;
        top: unset;
        left: unset;
        float: unset;
        margin: 0;
        margin-left: 20px;
        transform: none;
        font-size: $mobile_font_size3;
        line-height: 1.7em;
        display: flex;
        flex-direction: row;

        li {
          display: inline-block;
          margin-right: 10px;
        }

        a {
          &:active {
            @include highlight_text_box_navy;
          }
        }
      }
    }

    .content {
      width: 100%;
      border: none;

      & > div {
        border-width: 1px 0;
      }
    }
  }
}

@media screen and (max-height: 450px) {
  .body-component .navigation ul {
    transform: unset;
    margin-bottom: 20px;
  }
}
