@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

// base color
$base_color_navy: #1d5b79;
$base_color_teal: #24b5bf;
$base_color_red: #ef6262;
$base_color_orange: #f8cc6d;

// font-weight
$font_weight_100: 100; // Thin
$font_weight_200: 200; // Extra Light
$font_weight_300: 300; // Light
$font_weight_400: 400; // Regular
$font_weight_500: 500; // Medium
$font_weight_600: 600; // SemiBold
$font_weight_700: 700; // Bold
$font_weight_800: 800; // ExtraBold
$font_weight_900: 900; // Black

@mixin background_gradation_navy {
  background: linear-gradient(45deg, $base_color_navy, $base_color_teal);
}

@mixin highlight_text($color1, $color2) {
  background: linear-gradient(to right top, $color1, $color2);
  color: transparent;
  -webkit-background-clip: text;
}

@mixin highlight_text_red {
  @include highlight_text($base_color_red, $base_color_orange);
}

@mixin highlight_text_navy {
  @include highlight_text($base_color_navy, $base_color_teal);
}

@mixin highlight_text_box_red {
  background: linear-gradient(
    to right bottom,
    $base_color_orange,
    $base_color_red
  );
  color: white;
}
