@import '../../global.scss';

.section-component {
  position: relative;
  padding: 25px;
}

@media screen and (max-width: 768px) {
  .section-component {
    margin: 0;
    padding: 20px;
    padding-top: 0;

    & > .title {
      padding-top: 50px;
      font-size: $mobile_font_size1;
    }
  }
}
